h1 {color:white;
    font-size:90px;
    font-family:sans-serif;
    text-align:center;
}

a {color:white;
   font-size:20px;
   font-family:monospace;
   text-align:center;
}

p { color:white;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:Arial;
}

.topnav a:hover {
  background-color:gray;
  color:white;
}

.topnav active {
  background-color: white;
  color: white;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align:center;
}


.tr:nth-child(even) {
  background-color:black;
}

table center {
  margin-left: auto;
  margin-right: auto;
}
.frgb {
  animation-name: Sign-up;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size:30px;
  text-align: center;
}

@keyframes Sign-up {
  0%   {color:purple;}
  20%  {color:blue;}
  40%  {color:green;}
  60%  {color:orange;}
  80%  {color:red;}
  100% {color:purple;}
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
